.idea/
.pytest_cashe/
__pycache__/
env/
venv/
nodes/
plugins/
secrets/
updates/
userContent/
war/
workflow-libs/
*.exe
*.war
*.enc
*.pid
*.key
hudson.*
jenkins.install*
jenkins.model*
jenkins.tele*
nodemonitor*
secret*

